@font-face {
    font-family: 'Google Sans Flex';
    font-weight: 100 1000;
    font-display: swap;
    src: url('./fonts/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Google Sans Code';
    font-weight: 100 800;
    font-display: swap;
    src: url('./fonts/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
}

:root {
    --font-sans: 'Google Sans Flex', sans-serif;

    --font-sans--font-variation-settings: 'slnt' 0, 'wdth' 100, 'GRAD' 0, 'ROND' 0;

    --font-code:
        'Google Sans Code', SF Mono, SF Mono-Regular, Consolas, monospace;
        
    --font-code--font-feature-settings: 'cv11';
}
