@font-face {
	font-family: 'Google Sans Flex';
	font-weight: 100 1000;
	font-display: swap;
	src: url('./fonts/GoogleSansFlex-VariableFont_opsz,wght.woff2') format('woff2');
}

:root {
	--font-sans: 'Google Sans Flex', sans-serif;
}
