@font-face {
    font-family: 'Google Sans Flex';
    font-weight: 100 1000;
    font-display: swap;
    src: url('./fonts/GoogleSansFlex-VariableFont_opsz,wght.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Google Sans Code';
    font-weight: 100 800;
    font-display: swap;
    src: url('./fonts/GoogleSansCode-VariableFont_wght.woff2') format('woff2-variations');
}

:root {
    --font-sans: 'Google Sans Flex', sans-serif;

    --font-code:
        'Google Sans Code', SF Mono, SF Mono-Regular, Consolas, monospace;
        
    --font-code--font-feature-settings: 'cv11';
}
