@import './theme.css';

@font-face {
    font-family: 'Google Sans';
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/google-sans-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Google Sans';
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/google-sans-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Google Sans';
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/google-sans-700.woff2') format('woff2');
}

@variant dark (@media (prefers-color-scheme: dark));

:root {
    height: 100%;
    overscroll-behavior: none;
}
