@theme {
	--font-sans:
		'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-sans--font-feature-settings: 'cv11';

	--color-blue-100: oklch(22.17% 0.069 259.89);
	--color-blue-200: oklch(25.45% 0.0811 255.8);
	--color-blue-300: oklch(30.86% 0.1022 255.21);
	--color-blue-400: oklch(34.1% 0.121 254.74);
	--color-blue-500: oklch(38.5% 0.1403 254.4);
	--color-blue-600: oklch(64.94% 0.1982 251.81);
	--color-blue-700: oklch(57.61% 0.2321 258.23);
	--color-blue-800: oklch(51.51% 0.2307 257.85);
	--color-blue-900: oklch(71.7% 0.1648 250.79);
	--color-blue-1000: oklch(96.75% 0.0179 242.42);

	--color-red-100: oklch(22.1% 0.0657 15.11);
	--color-red-200: oklch(25.93% 0.0834 19.02);
	--color-red-300: oklch(31.47% 0.1105 20.96);
	--color-red-400: oklch(35.27% 0.1273 21.23);
	--color-red-500: oklch(40.68% 0.1479 23.16);
	--color-red-600: oklch(62.56% 0.2277 23.03);
	--color-red-700: oklch(62.56% 0.2234 23.03);
	--color-red-800: oklch(58.01% 0.227 25.12);
	--color-red-900: oklch(69.96% 0.2136 22.03);
	--color-red-1000: oklch(95.6% 0.0293 6.61);

	--color-amber-100: oklch(22.46% 0.0538 76.04);
	--color-amber-200: oklch(24.95% 0.0642 64.78);
	--color-amber-300: oklch(32.34% 0.0837 63.83);
	--color-amber-400: oklch(35.53% 0.0903 66.3);
	--color-amber-500: oklch(41.55% 0.1044 67.98);
	--color-amber-600: oklch(75.04% 0.1737 74.49);
	--color-amber-700: oklch(81.87% 0.1969 76.46);
	--color-amber-800: oklch(77.21% 0.1991 64.28);
	--color-amber-900: oklch(77.21% 0.1991 64.28);
	--color-amber-1000: oklch(96.7% 0.0418 84.59);

	--color-green-100: oklch(23.09% 0.0716 149.68);
	--color-green-200: oklch(27.12% 0.0895 150.09);
	--color-green-300: oklch(29.84% 0.096 149.25);
	--color-green-400: oklch(34.39% 0.1039 147.78);
	--color-green-500: oklch(44.19% 0.1484 147.2);
	--color-green-600: oklch(58.11% 0.1815 146.55);
	--color-green-700: oklch(64.58% 0.199 147.27);
	--color-green-800: oklch(57.81% 0.1776 147.5);
	--color-green-900: oklch(73.1% 0.2158 148.29);
	--color-green-1000: oklch(96.76% 0.056 154.18);

	--color-white: hsla(0, 0%, 98%, 1);
	--color-black: var(--color-black-500);
	--color-grey: var(--color-grey-500);
	--color-blue: var(--color-blue-600);
	--color-red: var(--color-red-600);
	--color-amber: var(--color-amber-600);
	--color-green: var(--color-green-600);
	--color-teal: var(--color-teal-600);
	--color-purple: var(--color-purple-600);
	--color-pink: var(--color-pink-600);
}
